<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="portConfigService" class="com.hecj.sysconfig.service.impl.PortConfigServiceImpl"/>

	<bean id="potentialService" class="com.hecj.sysconfig.service.impl.PotentialServiceImpl"/>
	
	<bean id="qqService" class="com.hecj.sysconfig.service.impl.QqServiceImpl"/>

</beans>